.marginLeft {
  margin-left: 0.5rem;
}
.marginLeftClean {
  margin-left: 0rem;
}

.centerPaper {
  height: fit-content;
  width: fit-content;
  padding: 2rem;
  justify-self: center;
  align-self: center;
  margin-bottom: 5rem;
}

.pointer {
  cursor: pointer;
}

.input {
  width: 100%;
  margin-top: 1.75rem;
  text-transform: none;
}

.submit {
  margin-top: 1.75rem;
  width: 100%;
  font-size: 1.25rem;
  padding: 0.5rem;
  text-transform: none;
  display: block;
}
