.titleSpanText {
  font-size: 2rem;
}

.editIcon {
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
}

.titleWrapper {
  display: grid;
  grid-template-columns: max-content min-content;
}

.wrapper {
  margin-top: 1rem;
}

.settingsWrapper {
  position: relative;
  height: 0px;
  text-align: right;
}
