.wrapper {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 2rem;
}

.downloadLink {
  font-size: 1rem;
  font-weight: bolder;
  height: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.attachmentClass {
  display: grid;
  border-style: groove;
  cursor: pointer;
  width: 200px;
  height: 130px;
  grid-template-rows: 0px 1fr auto;
}

.attachmentClass:hover {
  border-color: #5DB099;
  color: #37987E;
}

.attachmentClass:active {
  border-color: #37987E;
}

.attachmentText:active {
  color: #37987E !important;
}

.attachmentText {
  font-size: 1rem;
  color: #555555;
  user-select: none;
  text-align: left;
  text-decoration: none;
}

.attachmentText:hover {
  color: inherit;
}

.linkWrapper {
  display: grid;
  align-items: end;
  height: 100%;
  padding: 0.5rem;
}

.attachmentHeaderText {
  display: block;
  font-size: 1rem;
  color: #313131;
  font-weight: bolder;
  margin-top: 1rem;
}

.XWrapper {
  position: relative;
  text-align: right;
  height: 0px;
  z-index: 100;
}

.XClassName {
  font-size: 1.5rem;
}

.XClassName:hover {
  color: initial !important;
}
