.wrapper {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 2rem;
}

.downloadLink {
  font-size: 1rem;
  font-weight: bolder;
}

.attachmentClass {
  display: grid;
  border-style: groove;
  cursor: pointer;
  width: 200px;
  height: 130px;
}

.attachmentClass:hover {
  border-color: cornflowerblue;
  color: #6141ff;
}

.attachmentClass:active {
  border-color: #1b00ff;
}

.attachmentText:active {
  color: #341bff !important;
}

.attachmentText {
  font-size: 1rem;
  color: #555555;
  user-select: none;
  text-align: left;
  text-decoration: none;
}

.attachmentText:hover {
  color: inherit;
}

.linkWrapper {
  display: grid;
  align-items: end;
  height: 100%;
  padding: 0.5rem;
}
