.projectHeader {
  display: block;
  font-weight: bold;
  margin-top: 2rem;
  font-size: 2rem;
  color: #272727;
}

.projectsWrapper {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  grid-gap: 2rem;
}

.project {
  height: 300px;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  border-style: groove;
  max-width: 400px;
  cursor: pointer;
  color: #686868;
  border-color: #C2DACC;
}

.project:visited {
  border-color: #C2DACC;
}

.project:hover {
  border-color: #5EAAA8;
  color: #272727;
}
.project:active {
  border-color: #5EAAA8;
  color: #272727 !important;
}

.projectName {
  font-size: 1.25rem;
  font-weight: bold;
}

.addProject {
  display: grid;
  border-style: groove;
  cursor: pointer;
  max-width: 400px;
  border-color: #C2DACC;
}

.addProject:hover {
  border-color: #5EAAA8;
  color: #272727;
}

.addProject:active {
  border-color: #5EAAA8;
}

.addProjectText:active {
  color: #272727 !important;
}

.addProjectText {
  font-size: 250px;
  color: #555555;
  user-select: none;
  text-align: center;
}

.addProjectText:hover {
  color: inherit;
}
