.projectHeader {
  display: block;
  font-weight: bold;
  margin-top: 2rem;
  font-size: 2rem;
  color: #313131;
}

.projectsWrapper {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.project {
  height: 300px;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  border-style: groove;
  max-width: 400px;
  cursor: pointer;
  color: #3c3c3c;
  border-color: #9a9a9a66;
}

.project:visited {
  border-color: #9a9a9a66;
}

.project:hover {
  border-color: cornflowerblue;
  color: #6141ff;
}

.projectName {
  font-size: 1.25rem;
  font-weight: bold;
}

.addProject {
  display: grid;
  border-style: groove;
  cursor: pointer;
  max-width: 400px;
}

.addProject:hover {
  border-color: cornflowerblue;
  color: #6141ff;
}

.addProjectText {
  font-size: 250px;
  color: #555555;
  user-select: none;
  text-align: center;
}

.addProjectText:hover {
  color: inherit;
}
