.wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
}

.titleWrapper {
  display: grid;
  grid-template-columns: 1fr auto;
}

.lineWrapper {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 200px 1fr;
}

.avatarClass {
  display: inline-block;
  margin-left: 0.5rem;
  align-self: center;
}

.avatarsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 50px);
}

.description {
  font-size: 1rem;
  line-height: 1rem;
  align-self: center;
  color: #313131;
}

.gridWrapper {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  align-items: center;
  row-gap: 1rem;
}
