.wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
<<<<<<< HEAD
  height: 3rem;
=======
>>>>>>> d244be303c08d92b707807095df537e6a45d66ba
}

.titleClass {
  font-weight: bolder;
  font-size: 2rem;
}

.closeClass {
  cursor: pointer;
  align-self: baseline;
}

.dueClass {
  font-size: 1.5rem;
}
.toDateClass {
  font-size: 1.5rem;
  font-weight: bolder;
}

.marginTop {
<<<<<<< HEAD
  margin-top: 1rem;
=======
  margin-top: 0.3rem;
>>>>>>> d244be303c08d92b707807095df537e6a45d66ba
}

.editIcon {
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
}

.titleEditWrapper {
  display: grid;
  grid-template-columns: min-content min-content;
}

.editWrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
}
