.center {
  align-self: center;
  justify-self: center;
}

.layout {
  display: grid;
  height: min-content;
  grid-gap: 12rem;
<<<<<<< HEAD
=======
  margin-bottom: 2rem;
>>>>>>> d244be303c08d92b707807095df537e6a45d66ba
}

.textClass {
  align-self: end;
  margin-left: 1rem;
}

@media only screen and (max-width: 1100px) {
  .layout {
    grid-gap: 7rem;
  }
}

@media only screen and (max-width: 750px) {
  .layout {
    grid-gap: 1rem;
  }
}

@media only screen and (min-width: 600px) {
  .layout {
    grid-template-columns: 1fr 1fr;
  }
}

.description {
  color: hsla(0, 0%, 0%, 0.8);
  margin-top: 10px;
  font-size: 1.5rem;
}
