.backlogText {
  font-size: 1.7rem;
  margin-top: 2rem;
  color: #313131;
}

.textAddWrapper {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr auto;
}

.addIcon {
  font-size: 3rem;
  margin-top: 2rem;
  align-self: center;
  cursor: pointer;
}

.addIconWrapper {
  position: relative;
  height: 0px;
  text-align: right;
}

.noBacklog {
  display: block;
  margin-top: 3rem;
  font-size: 1.5rem;
}

.layout {
  display: grid;
  grid-template-columns: 1fr auto;
  height: 100%;
}

.taskWrapper {
  margin-top: 2rem;
}
