.languageButton {
  color: black;
  height: 2.5rem;
  width: 2.5rem;
  align-self: end;
  max-width: 50px;
  justify-self: right;
}

.navbarConteiner {
  margin-top: 2rem;
  height: 4rem;
  display: grid;
  grid-template-columns: 200px 8fr 3fr;
}

.logoWrapper {
  display: grid;
  align-items: end;
}

.logo {
  cursor: pointer;
  width: 100%;
  max-width: 199px;
  min-width: 100px;
}

.tabWrapper {
  height: 2rem;
  align-self: center;
}

.tabClassName {
  min-width: initial;
}

.rightButtonsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: end;
  column-gap: 5px;
}

.userButton {
  display: grid;
  align-items: end;
}
.userButton:hover {
  border: none;
}

.zeroPadding {
  min-width: auto !important;
}

@media screen and (max-width: 900px) {
  .zeroPadding {
    padding: 5px;
  }
}

.logoutWrapperClass {
  cursor: pointer;
  min-width: auto;
  display: grid;
  align-items: end;
}

.logoutClass {
  width: 2.5rem;
}

.avatarClass {
  height: 2.5rem;
  width: 2.5rem;
}
.languageWrapper {
  display: grid;
  align-items: initial !important;
  align-self: end;
}

@media screen and (max-width: 900px) {
  .logoutClass {
    width: 2rem;
  }

  .avatarClass {
    width: 2rem;
    height: 2rem;
  }
  .languageButton {
    height: 2rem;
  }
}
