.languageButton {
  color: black;
  height: 3rem;
  align-self: center;
}

.navbarConteiner {
  margin-top: 2rem;
  height: 4rem;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
}

.logo {
  height: 4rem;
  cursor: pointer;
}

.tabWrapper {
  height: 3rem;
  align-self: end;
  margin-left: 1rem;
}
