.wrapper {
  margin-top: 1rem;
  border-style: groove;
  border-color: #9a9a9a66;
  border-width: 2px;
  box-shadow: none;
  border-radius: 0px;
  background-color: inherit;
  padding: 0.7rem;
  cursor: pointer;
  padding-right: 1.5rem;
}

.wrapper:hover {
  border-color: cornflowerblue;
}

.fontWeight {
  font-weight: bold;
}

.headerWrapper {
  display: grid;
  grid-template-columns: 1fr auto auto;
  width: 100%;
}

.textWrapper {
  font-size: 1.25rem;
  height: min-content;
  align-self: center;
}

.selectedEpic {
  border-color: #1b00ff !important;
}

.deleteEpicClass {
  color: #f50057;
  margin-right: 0.5rem;
  display: grid;
  align-items: center;
}

.noSprints {
  display: block;
  margin-top: 3rem;
  font-size: 2rem;
}
