.wrapper {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border-radius: 0.75rem;
  background-color: #E3E3E3;

  padding-top: 0.25rem;
  padding-bottom: 0.75rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  display: grid;
  grid-template-rows: auto 1fr;
}

.dropPlaceholder {
  border: 2px solid #C1C1C1;
  height: 5rem;
  border-style: groove;
  margin-top: 5px;
  border-radius: 0.5rem;
}
