.wrapper {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border-radius: 0.75rem;
  background-color: #c5c5c5;

  padding-top: 0.25rem;
  padding-bottom: 0.75rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
<<<<<<< HEAD
=======
  display: grid;
  grid-template-rows: auto 1fr;
}

.dropPlaceholder {
  border: 1px solid #99a5ff;
  height: 5rem;
  border-style: groove;
  margin-top: 5px;
  border-radius: 0.5rem;
>>>>>>> d244be303c08d92b707807095df537e6a45d66ba
}
