.wrapper {
  display: grid;
  grid-template-columns: auto auto 1fr auto auto auto;
  margin-top: 1rem;
  border-style: groove;
  border-color: #9a9a9a66;
  border-width: 2px;
  padding: 0.7rem;
  cursor: pointer;
  padding-right: 1.5rem;
}

.wrapper:hover {
  border-color: cornflowerblue;
}

.selectedSprint {
  border-color: #1b00ff !important;
}

.wrapper:hover {
  border-color: cornflowerblue;
}

.titleWrapper {
  align-self: center;
}

.titleClass {
  display: inline-block;
  font-weight: bold;
  font-size: 1.25rem;
  padding-left: 0.5rem;
}

.deleteButton {
  color: #f50057;
  margin-right: 0.5rem;
}

.assignmentWrapper {
  display: grid;
  grid-template-columns: min-content min-content;
  align-items: center;
  margin-left: 1rem;
}

.epicNamWrapper {
  display: grid;
  align-items: center;
  margin-left: 1rem;
}
