.addAttachmentClass {
  display: grid;
  border-style: groove;
  cursor: pointer;
  width: 200px;
  height: 130px;
  align-items: center;
}

.addAttachmentClass:hover {
  border-color: #5DB099;
  color: #37987E;
}

.addAttachmentClass:active {
  border-color: #37987E;
}

.addAttachmentText:active {
  color: #37987E !important;
}

.addAttachmentText {
  font-size: 100px;
  color: #555555;
  user-select: none;
  text-align: center;
  font-size: 8rem;
  line-height: 7rem;
}

.addAttachmentText:hover {
  color: inherit;
}
