.epicText {
  font-size: 1.7rem;
  margin-top: 2rem;
  color: #313131;
  flex: 1 1 auto;
}

.textAddWrapper {
  display: flex;
}

.addIcon {
  font-size: 3rem;
  margin-top: 2rem;
  align-self: center;
  cursor: pointer;
}

.addIconWrapper {
  position: relative;
  height: 0px;
  text-align: right;
}

.noEpics {
  display: block;
  margin-top: 3rem;
  font-size: 1.5rem;
}

.layout {
  display: grid;
  grid-template-columns: 1fr auto;
  height: 100%;
}

.epicsWrapper {
  margin-top: 2rem;
}
